{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pick Me - Create Account Confirmation</title>
    <link rel="stylesheet" href="{% static 'authentication/create-account-confirmation/style.scss' %}?ver=001">
  </head>
  <body>
    <h1>Create Account Confirmation</h1>
    <h2>URL: /authentication/create-account-confirmation</h2>
    <h2>VIEW: CreateAccountConfirmationView</h2>
	<script src="{% static 'authentication/create-account-confirmation/scripts.js' %}?ver=001"></script>
  </body>
</html>