{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pick Me - Create Account Form</title>
    <link rel="stylesheet" href="{% static 'authentication/create-account-form/style.scss' %}?ver=001">
  </head>
  <body>

    <div id="create-account-container">
      <form method="POST" action="/authentication/create-account">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" aria-label="create account">create account</button>
      </form>

      <!-- SERVER MESSAGES -->
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

	<script src="{% static 'authentication/create-account-form/scripts.js' %}?ver=001"></script>

  </body>
</html>