{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pick Me - Recover Password Form</title>
    <link rel="stylesheet" href="{% static 'authentication/recover-password-form/style.scss' %}?ver=001">
  </head>

  <body>
    <div id="recover-password-container">
      <form method="POST" action="/authentication/recover-password">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" aria-label="submit email for password recovery">recover</button>
      </form>

      <!-- SERVER MESSAGES -->
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

	<script src="{% static 'authentication/recover-password-form/scripts.js' %}?ver=001"></script>
  </body>
</html>