{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pick Me - Create Account Form</title>
    <link rel="stylesheet" href="{% static 'authentication/create-account-verify/style.scss' %}?ver=001">
  </head>
  <body>

    <h1>Create Account Verify Success</h1>
    <h2>URL: /authentication/create-account-verify</h2>
    <h2>VIEW: CreateAccountVerifyView</h2>
    <h2>USER: {{ user }}</h2>

	<script src="{% static 'authentication/create-account-verify/scripts.js' %}?ver=001"></script>

  </body>
</html>